!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kelp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  #container
    %header
      %h1 
        =link_to "KELP", root_path
        

      - if current_user
        = link_to "<button>Sign Out</button>".html_safe, destroy_user_session_path
        = link_to "<button>Edit Profile</button>".html_safe, edit_user_registration_path
      - else
        = link_to "<button>Sign In</button>".html_safe, new_user_session_path
        = link_to "<button>Sign Up</button>".html_safe, new_user_registration_path
        
    -flash.each do |key, value|
      =value
    =yield

